#formRegisterRestaurant
    display: flex
    flex-direction: column
    border-radius: 24px
    justify-content: space-around
    
    @media screen and (max-width: 768px) 
        height: 100%

    
    #FORMRegister
        display: flex
        flex-direction: column
        gap: 10px    
        
#FormSingInRestaurant
    gap: 12px
    display: flex
    flex-direction: column
    
    label
        align-self: start
        font-size: 1.1rem
        font-family: 'Lufga Regular'

    .InputRestaurant
        border: 2px solid #6e6e6e30
        height: 3rem
        font-size: 1rem
        padding: 10px
        @media screen and (min-width: 768px) 
            font-size: 1.3rem
            
        
        width: 100%
        border-radius: 10px
        outline: none
        transition: 0.2s ease

        &[type = "password"]
            width: 100%
        &:focus
            border: 2px solid #69b4ffce


    #eyePassword
        aspect-ratio: 1
        height: 100%
        display: flex
        align-items: center
        justify-content: center
    

input[type = number]
    -moz-appearance: textfield
    appearance: textfield
    
    &::-webkit-inner-spin-button
        -webkit-appearance: none
    
    