#formRegisterRestaurant
    display: flex
    flex-direction: column
    border-radius: 24px
    
    
    #FORMRegister
        display: flex
        flex-direction: column
        gap: 10px    
        

        .INPUT
            border-radius: 10px
            border: 1px solid #D1D5DB
            height: 45px
            padding: 0 5px
            width:  100%


            
            