main
    height: 100vh
    width: 100%
    display: flex
    flex-direction: row
    align-items: center
    justify-content: right
    background-color: #d7d7d7

    #LoginArea
        border-radius: 20px
        box-shadow: 0 0 8px 5px #bebebe
        display: flex
        flex-direction: column
        align-items: start
        margin: 30px
        height: 60%
        width: 30%
        background-color: white
        padding: 40px
        
        #title
            flex: 1
        #alterLogin
            flex: 1
            align-self: center
        #formArea
            
            flex: 2
            width: 100%
            form
                display: flex
                flex-direction: column
            input
                height: 40px
                width: 80%
                border-radius: 15px
                border: 2px solid black
            input:focus
                outline: 2px solid red
